body {
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    max-width: 100vw;
    overflow-x: hidden;
}

.container {
    display: flex;
    width: 100vw;
}

#logo {
    flex: 1;
    height: 300px;
}

#designer {
    height: 600px;
    display: block;  /* Verhindert Inline-Verhalten */
    margin: 0 auto;  /* Zentriert das Bild horizontal */
}
#loginbutton{
    flex: 1;
    padding: 30px 30px 0 0;
}
.login {
    background-color: rgb(49, 153, 209);
    border-radius: 50px;
    padding: 20px;
    font-size: 100px;
    text-decoration: none;
    color: black;
}

#text {
    flex: auto;
    font-size: 25px;
}

p {

}


form {
    color: black;
    font-size: 70px;
}

.Login-Form {
    text-align: center;
}

.Login-Input{
    width: 700px;
    height: 70px;
    font-size: 70px;
}

#login2 {
    margin: 0px;
    background-color: rgb(49, 153, 209);
    border-radius: 10px;
    padding: 10px;
    font-size: 75px;
    text-decoration: none;
    color: black;
    position: relative;
    top: 50px;
    left: calc(50% - 100px);
    width: 400px;
}

#Passwort{
    margin-right: 17px;
}

#Passwort-Input {
    margin-left: 151px;
}